.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0; /* Remove negative margin */
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s;
}

.sidebar-toggle {
  position: relative;
  top: -3rem; /* Adjust based on your navbar height */
  left: 1rem;
  z-index: 1000; /* Ensure it's above everything */
}

.dashboard-content {
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s;
  /* padding-top: 0.3rem; Adjust based on your navbar height */
  /* padding-left: 6rem; Add left padding to accommodate the toggle button */
}

.dashboard-container.shifted .dashboard-content {
  margin-left: 500px; /* Adjust this value to match the width of your sidebar */
}

.hidden {
  display: none;
}
